# Django core
Django==5.1.8
djangorestframework==3.15.2
django-cors-headers==4.6.0
django-filter==24.3

# Authentication & Security
djangorestframework-simplejwt==5.4.0
argon2-cffi==23.1.0
django-ratelimit==4.1.0

# Database
psycopg2-binary==2.9.10

# Async / WebSocket
daphne==4.1.2
channels==4.2.0
channels-redis==4.2.1

# Task queue
celery==5.4.0
redis==5.2.1
django-celery-beat==2.7.0
django-celery-results==2.5.1

# File processing & validation
python-magic==0.4.27
pillow==11.1.0

# PDF generation
weasyprint==62.3
reportlab==4.2.5

# Templating
Jinja2==3.1.6

# Charts & data
matplotlib==3.10.1
plotly==5.24.1
pandas==2.2.3
kaleido==0.2.1

# Email
django-anymail==12.0

# Utils
python-decouple==3.8
python-json-logger==3.2.1
django-extensions==3.2.3
django-storages==1.14.6

# NVD Enrichment
nvdlib>=0.7.6
