# Django core
Django==6.0.4
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==25.2

# Authentication & Security
djangorestframework-simplejwt==5.5.1
argon2-cffi==23.1.0
django-ratelimit==4.1.0

# Database
psycopg2-binary==2.9.10

# Async / WebSocket
daphne==4.2.1
channels==4.3.2
channels-redis==4.3.0

# Task queue
celery==5.6.3
redis==7.4.0
django-celery-beat==2.9.0
django-celery-results==2.6.0

# File processing & validation
python-magic==0.4.27
pillow==12.2.0
openpyxl==3.1.5

# PDF generation
weasyprint==68.1
reportlab==4.2.5

# Templating
Jinja2==3.1.6

# Charts & data
matplotlib==3.10.1
plotly==6.7.0
pandas==2.2.3
kaleido==1.2.0

# Email
django-anymail==15.0

# Utils
python-decouple==3.8
python-json-logger==4.1.0
django-extensions==4.1
django-storages==1.14.6

# NVD Enrichment
nvdlib>=0.7.6

# Testing
pytest==9.0.3
pytest-django==4.12.0
pytest-cov==5.0.0
factory-boy==3.3.3

# Dev tools
black==26.3.1
isort==5.13.2
flake8==7.3.0
